<%= link_to report_path(report.id), method: :get, class: "link" do %>
  <div class="report-content">
    <div class="report-content-inner">
      <div class="report-inner-titl">
        <%= report.title %>
      </div>
      <div class="reoprt-inner-time">
        <div class="second">
          <%= report.created_at %>
          <%= link_to "編集", edit_report_path(report.id), class: "btn show-btn" %>
          <%= link_to "削除", report_path(report.id), method: :delete, data: { confirm: "日報「#{report.title}」を削除します。よろしいですか？" }, class: "btn destroy-btn" %>
        </div>
      </div>
    </div>
  </div>
<% end %>