<div class= "contents">
  <h1>日記の新規作成</h1>
  <div class='nav'>
    <div class='inner'>
      <%= link_to "一覧へ", reports_path, class: "nav-link" %>
    </div>
  </div>
  <%= form_with model: @report, local: true do |f| %>
  <%= render 'error_messages', model: f.object %>
    <%= render partial: "form", locals: { f: f } %>
    <%= f.submit "作成する", class: 'btn btn-primary' %>
  <% end %>
</div>